# Blockchain
PRIVATE_KEY=0x9364Cbc995aE34ba4d0E8458139575B822489e88
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Backend
PORT=5001
PINATA_API_KEY=77ce9e1115da43ed7a9f
PINATA_SECRET_KEY=71697f5edc771907c86a668ed2cae942353bf5361fa161acaed215fb123c5bfc
GEMINI_API_KEY=AIzaSyBgYunYEXaM-SpAa1Bzas-ttncJx2ZeJn4

# Frontend
VITE_CONTRACT_ADDRESS=
VITE_BACKEND_URL=http://127.0.0.1:5001
VITE_BASE_SEPOLIA_RPC=https://sepolia.base.org
VITE_CHAIN_ID=84532
