PORT=5001
PINATA_API_KEY=77ce9e1115da43ed7a9f
PINATA_SECRET_KEY=71697f5edc771907c86a668ed2cae942353bf5361fa161acaed215fb123c5bfc
GEMINI_API_KEY=AIzaSyBgYunYEXaM-SpAa1Bzas-ttncJx2ZeJn4

# Auto-Escalation Keeper Setup
RPC_URL=https://sepolia.base.org
PRIVATE_KEY=your_wallet_private_key_here
CONTRACT_ADDRESS=0x0409Dc247747FdBB1419d3Efdd406BBf84635F36